<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
        <p>ユーザー名</p>
        <input name="name" value="<%= @user.name %>">
        <input type="file" name="image">
        <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>">
        <input type="submit" value="保存">
        <% end %>
        <%= form_tag("/users/#{@user.id}/destroy") do  %>
        <input id="destroy" type="submit" value="削除">
        <% end %>
        <%= link_to("/comfirm") do %>
        <input type="submit" value="18禁" style="border: none;">
        <% end %>
      </div>
    </div>
  </div>
</div>
